<h2>New Spell for <%= @wizard.name %></h2>:

<%= form_for :favorite_spell, url: '/favorite_spells' do |f| %>
    <%= f.collection_select :spell_id, @spells, :id, :name %> <br>
    <%= f.hidden_field :wizard_id, :value => @wizard.id %>
    <%= f.submit "Add Spell to Repertoire"%>
<% end %>